<p>Multicasted Observable</p>
<div class="button-list">
    <div class="btn-box3">
        <button id="btn1">Multicasted Observable</button>
        <button id="btn1-connect">Connect</button>
        <button id="btn1-close">Unsubscribe</button>
    </div>
    <div class="btn-box">
        <button id="btn2">RefCount</button>
        <button id="btn2-close">Unsubscribe</button>
    </div>
    <button id="btn3">Publish</button>
    <button id="btn4">PublishBehavior</button>
    <button id="btn5">PublishReplay</button>
    <button id="btn6">PublishLast</button>
    <button id="btn7">Share</button>
    <button id="btn8">ShareReplay</button>
</div>