<p>Multicasted Observable</p>
<div class="button-list">
    <div class="btn-box">
        <button id="btn1">Multicasted Observable</button>
        <button id="btn1-connect">Connect</button>
        <button id="btn1-close">Unsubscribe obs</button>
        <button id="btn1-close2">Unsubscribe publish</button>
    </div>
    <div class="btn-box">
        <button id="btn3">Publish</button>
        <button id="btn3-connect">Connect</button>
        <button id="btn3-close">Unsubscribe obs</button>
        <button id="btn3-close2">Unsubscribe publish</button>
    </div>
    <div class="btn-box">
        <button id="btn4">PublishBehavior</button>
        <button id="btn4-connect">Connect</button>
        <button id="btn4-close">Unsubscribe obs</button>
        <button id="btn4-close2">Unsubscribe publish</button>
    </div>
    <div class="btn-box">
        <button id="btn5">PublishReplay</button>
        <button id="btn5-connect">Connect</button>
        <button id="btn5-close">Unsubscribe obs</button>
        <button id="btn5-close2">Unsubscribe publish</button>
    </div>
    <div class="btn-box">
        <button id="btn6">PublishLast</button>
        <button id="btn6-connect">Connect</button>
        <button id="btn6-close">Unsubscribe obs</button>
        <button id="btn6-close2">Unsubscribe publish</button>
    </div>
    <div class="btn-box">
        <button id="btn2">RefCount</button>
        <button id="btn2-close">Unsubscribe</button>
    </div>
    <div class="btn-box">
        <button id="btn7">Share</button>
        <button id="btn7-close">Unsubscribe</button>
    </div>
    <div class="btn-box">
        <button id="btn8">ShareReplay</button>
        <button id="btn8-close">Unsubscribe</button>
    </div>
</div>