<h1>Observables</h1>
<div class="button-list">
    <p>Холодные потоки:</p>
    <button id="btn1">Подписаться на бесконечный, холодный observable</button>
    <button id="btn2">Отписаться от бесконечного, холодного  observable</button>
    <button id="btn3">Подписаться конечный, холодный  observable</button>
    <button id="btn4">Отписаться от конечного, холодного  observable</button>
    <p>Горячие потоки:</p>
    <button id="btn5">Подписаться на бесконечный, горячий observable</button>
    <button id="btn6">Отписаться от бесконечного, горячий  observable</button>
    <button id="btn7">Подписаться конечный, горячий  observable</button>
    <button id="btn8">Отписаться от конечного, горячий  observable</button>
</div>