<p>Combine sequences</p>
<div class="button-list">
    <p>Merging multiple sequences</p>
    <button id="btn1">Megre</button>
    <button id="btn2">Concat</button>
    <button id="btn3">Race</button>
    <p>High order observables</p>
    <button id="btn4">MergeAll</button>
    <button id="btn5">ConcatAll</button>
    <button id="btn6">SwitchAll</button>
    <p>Combinations</p>
    <button id="btn7">CombineLatest</button>
    <button id="btn8">Zip</button>
    <button id="btn9">forkJoin</button>
    <button id="btn10">withLatestFrom</button>
</div>